/* arrière plan pour la page */
Body
{
   font-family: arial, helv, sans-serif; background: #f5f5f5; margin: 0px; padding: 0px;
}

/* le panneau d'administration */

.admin {max-width: 370px; top:0; background: silver; border: thin dotted; padding: 4px; position: absolute} 

#maintable { }

#footer {width: 100%; text-align: center }

/* arrière plan pour le coté gauche de la page */

.LeftPane  { 
}

/* arrière plan pour la partie centrale de la page */

.ContentPane  { 
}

/* arrière plan pour la partie droite de la page */

.RightPane  { 
}

/* ligne de séparation entre les parties de la page */

td.line { }

/* pour positionner votre logo sur la page */

#banner {text-align: left; background: ivory}

#logo {background: url(bk.jpg)}

.LogoImage {}


/* Pour positionner le menu d'ouverture de session */
 
#signin {position: absolute; background: ivory; top: 150px; right: 60px; border: thin dotted black; width: 250px}

/* pour positionner la section après le logo et avant le menu alternatif */

#info {padding-top:24px;}

/* pour positionner le menu alternatif sur la page */

#BreadCrumb {background: #f5f5f5;}

/* pour le menu alternatif */

.bread {font-size: 8px; color: gray; font-family: Wingdings 3}

/* pour le menu */

.m0l0iout, .m0l0iover, .menu0downo {font-size: 9pt; font-weight: bold; padding: 4px; text-align: left; text-decoration: none;}
.m0l0iout, .m0l0odown {color: #000000;}
.m0l0iover {color: #DCDCDC;}
.m0l0oout, .m0l0oover, .m0l0odown {text-decoration: none; z-index: auto; cursor: pointer; cursor: pointer; border-bottom: Gray 1px solid; border-left: White 1px solid; border-top: White 1px solid; border-right: Gray 1px solid}
.m0l0oover {border-bottom: dimgray 1px solid; border-left: gainsboro 1px solid; border-top: whitesmoke 1px solid; border-right: gray 1px solid; background: black}
.m0l0oout , .m0l0odown {background: #FFFFF0}

/* pour la section du bas de page */

.A1 {color: #DCDCDC;}
.A2 {background: #FFFFF0}
div.a2 { border-bottom: Gray 1px solid; border-left: White 1px solid; border-top: White 1px solid; border-right: Gray 1px solid;}


/* Style pour le texte dans le menu alternatif */
.SelectedTab {
    font-weight: bold;
    font-size: 8.5pt;
    color: black;
    text-decoration: none;
}

A.SelectedTab:link {
    text-decoration:    none;
    color:black;
}

A.SelectedTab:visited  {
    text-decoration:    none;
    color:#808080;
}

A.SelectedTab:active   {
    text-decoration:    none;
    color:#eeeeee;
}

A.SelectedTab:hover    {
    text-decoration:    none;
    color:#000080;
}

/* Style pour hyperliens bas de page tabs */
.OtherTabs {
    font-weight: bold;
    font-size: 8.5pt;
    color: black;
    text-decoration: none;
}
    

A.OtherTabs:link {
    text-decoration:    none;
    color:black;
}

A.OtherTabs:visited  {
    text-decoration:    none;
    color:black;
}

A.OtherTabs:active   {
    text-decoration:    none;
    color:#eeeeee;
}

A.OtherTabs:hover    {
    text-decoration:    none;
    color:#000080;
}

/* GENERAL */
/* style pour le titre des modules */
.Head   {
    font-size:  20px;
    font-weight:    normal;
    color: #333333;
}

.headertitle { border-bottom: Gray 1px solid; border-left: White 1px solid; border-top: White 1px solid; border-right: Gray 1px solid; background: #FFFFF0; padding-left: 8px; padding-top: 4px; padding-bottom: 4px;}


/* style pour les titres des items dans les pages administrateur */
.SubHead    {
    font-size:  11px;
    font-weight:    bold;
    color: #003366;
}


/* Style utilisé pour la majorité du texte */
.Normal
{
    font-size: 11px;
    font-weight: normal;
}

/* style utilisé pour les boites de texte dans les panneaux d'administration */
.NormalTextBox
{
    font-size: 12px;
    font-weight: normal;
}

.NormalRed
{
    font-size: 12px;
    font-weight: bold;
    color: #ff0000
}

.NormalBold
{
    font-size: 11px;
    font-weight: bold
}

/* style utilisé pour les boutons et hyperliens dans les panneaux d'administration */
.CommandButton     {
    font-size: 11px;
    font-weight: normal;
}
    
A.CommandButton:link {
    text-decoration:    underline;
    color: #003366;
}

A.CommandButton:visited  {
    text-decoration:    underline;
    color: #003366;
}

A.CommandButton:active   {
    text-decoration:    underline;
    color: #003366;
}

A.CommandButton:hover    {
    text-decoration:    underline;
    color: #ff0000;
}
    
/* Générique */
H1  {
    font-size:  20px;
    font-weight:    normal;
    color: #666644;
}

H2  {
    font-size:  20px;
    font-weight:    normal;
    color: #666644;
}

H3  {
    font-size:  12px;
    font-weight:    normal;
    color: #003366;
}

H4  {
    font-size:  12px;
    font-weight:    normal;
    color: #003366;
}

H5, DT  {
    font-size:  11px;
    font-weight:    bold;
    color: #003366;
}

H6  {
    font-size:  11px;
    font-weight:    bold;
    color: #003366;
}

TFOOT, THEAD    {
    font-size:  12px;
    color: #003366;
}

TH  {
    vertical-align: baseline;
    font-size:  12px;
    font-weight:    bold;
    color: #003366;
}

A:link  {
    text-decoration:    none;
    color:  #003366;
}

A:visited   {
    text-decoration:    none;
    color:  #003366;
}

A:active    {
    text-decoration:    none;
    color:  #003366;
}

A:hover {
    text-decoration:    none;
    color:  #ff0000;
}

SMALL   {
    font-size:  8px;
}

BIG {
	font-size:  14px;
}

BLOCKQUOTE {
	border-style: outset
}

TABLE {
	border-collapse:collapse
}

PRE {

}

HR {
    color: #eeeeee;
    height:1pt;
    text-align:left
}

/* spécéfique aux modules */




/* pour le module message */  
.TabDefault {font-size:12px;font-weight:bold;padding-left:20px;margin-left:10px;margin-right:10px;border-bottom:solid 1px black;background:#e7e7e7}
.TabSelected {font-size:12px;font-weight:bold;border:1px solid #000;border-bottom:none;padding-left:20px;background:#fff}
.TabSeparator {border-bottom:1px solid #000;width:5px;background:#fff}
.TabPage {border:solid 1px black;border-top:none}
.PMSOtherCellTop {border-bottom:1px #D2D2D2 solid;padding:6px;background:#CCCCCC}
.PMSOtherCellBottom {border-top:1px #D2D2D2 solid;padding:6px;background:#CCCCCC}
.PMSHeaderCell {font-size:11px;color:black;font-weight:bold;padding:5px;background:#ffc}
.PMSCell {font-size:11px;color:black;padding:5px}
.PMSCellAlternate {font-size:11px;color:black;padding:5px;background:#ddd}



/* pour le module discussion */    
.Message    {
    font-size: 11px;
    font-weight: normal;
    background-color: #eeeeee
}   

/* pour le module évènements et communiqués */
.ItemTitle    {
    font-size:  11px;
    font-weight:    bold;
    color: #003366;
}

/* pour le menu administration module */
div.nav ul, div.nav li {
display:block;
margin:0;
padding:0;
border:0;
}

div.nav ul {width: 20px; background: transparent; list-style: none; }

div.nav li {
position:relative;
padding:1px;
padding-left:6px;
}

div.nav li.folder ul {
position:absolute;
left:15px; /* IE */
top:5px;
}		

div.nav li.folder>ul { left:20px; } /* others */
	
		
div.nav ul ul, div.nav li:hover ul ul { display:none;}

div.nav li:hover ul, div.nav li:hover li:hover ul { display:block;}

div.nav li.items a { color: #000000; text-decoration: none; color: #000000; font-weight: bold;}
div.nav li.items a:hover {color: #DCDCDC;}
div.nav li.items {width: 120px; height: 20px; background: #C0C0C0; padding: 2px; border-bottom: Gray 1px solid; border-left: White 1px solid; border-top: White 1px solid; border-right: Gray 1px solid; text-decoration: none; color: #000000; font-weight: bold; vertical-align: middle}
div.nav li.items:hover {border-bottom: dimgray 1px solid; border-left: gainsboro 1px solid; border-top: whitesmoke 1px solid;border-right: gray 1px solid;  background: #808080;color: #DCDCDC;}

td.menu {
text-align:left;
font-family:arial, helv, sans-serif;
font-size:13px;
font-weight:700;
}

td.menu ul,td.menu li {
z-index: 2;
display:block;
margin:0;
padding:0;
border:0;
}

td.menu ul {
list-style:none;
}

td.menu li {
position:relative;
display:block;
height:20px;
font-family:Tahoma, Arial, Helvetica;
font-size:9pt;
font-weight:400;
font-style:normal;
border-bottom:#c1d0e8 0 solid;
border-left:#c1d0e8 0 solid;
border-top:#c1d0e8 0 solid;
border-right:#c1d0e8 0 solid;
background-color:#c1d0e8;
background-image:url(button1.png);
padding:0;
}

td.menu li ul {
position:absolute;
left:0;
top:20px;
}

td.menu li ul ul {
position:absolute;
left:159px;
top:0;
}

td.menu ul ul,td.menu li:hover ul ul {
display:none;
}

td.menu li:hover ul,td.menu li:hover li:hover ul {
display:block;
}


td.menu a {
padding:5px;
text-decoration:none;
color:#000;
}

td.menu a:hover {
color:red;
}

td.menu li li {
width:190px;
}

td.menu li li.menu-2-1 {
width:160px;
}

td.menu li li.menu-3-1 {
width:140px;
}

td.menu li li.menu-4-1 {
width:150px;
}

td.menu li li.menu-5-1 {
width:150px;
}

td.menu li li.menu-6-1 {
width:150px;
}

td.menu li:hover 
{
background-color:#c1d0e8;
background-image:url(button.png);
}

td.menu a.top_parent,td.menu a.top_parent:hover {
background-image:url(/images/navdown_blue.gif);
background-position:right;
background-repeat:no-repeat;
padding:3px 15px 3px 3px;
}

td.menu a.parent,td.menu a.parent:hover {
padding:3px 15px 3px 3px;
background-image:url(/images/nav_blue.gif);
background-position:right;
background-repeat:no-repeat;
}

.button, .CommandButton, .link, .userlink {
background:#c1d0e8;
background-image:url(button1.png);
font-family:Tahoma, Arial, Helvetica;
font-size:9pt;
padding:4px 5px 4px 5px;
font-weight:700;
font-style:normal;
border-bottom:1px solid gray;
border-left:1px solid #FFF;
border-top:1px solid #FFF;
border-right:1px solid gray;
text-decoration:none;
color:#000;
}
.button:hover, .CommandButton:hover, .link:hover, .userlink:hover {
background:#c1d0e8;
color:red;
background-image:url(button.png);
}

.link {width :200px}
.userlink {
padding:4px 3px 4px 3px;
}