.TTTBorder {border: 1px solid;}
.TTTHeader {font-weight: bold; font-size: 8pt; color: white; background-image: url(TTT_Header_BG.gif);}
.TTTHeaderText{font-weight: bold; font-size: 8pt; color: White;}
.TTTAltHeader {	font-weight: bold; font-size: 8pt;	color: #4455aa; background-image: url(TTT_AltHeader_BG.gif);}
.TTTAltHeaderText {	font-weight: bold; font-size: 8pt; color: #4455aa;}
.TTTSubHeader {font-weight: bold; font-size: 8pt; color: #4455aa;}
.TTTTitle {	font-weight: bold; font-size: 8pt; color: #D4D9EC; text-decoration: none;}
.TTTRow { color: #4455aa; font-size: 11px; font-weight: normal;}
.TTTRowHighLight {color: #4455aa; font-size: 11px;font-weight: normal;}
.TTTFooter { color: white; font-size: 8pt; font-weight:bold; background-image: url(TTT_AltFooter_BG.gif);}
A.TTTTitle:link { text-decoration: none; color:#4455aa;}
A.TTTTitle:visited { text-decoration: none; color:#D4D9EC;}
A.TTTTitle:active { text-decoration: none; color:#4455aa;}
A.TTTTitle:hover { text-decoration: none; color:#D4D9EC;}
.TTTCommand { font-weight: normal; font-size: 11px;	color: white;}
A.TTTCommand:link {	color: white; text-decoration: underline;}
A.TTTCommand:visited { color: white; text-decoration: underline;}
A.TTTCommand:active { text-decoration: underline; color: white;}
A.TTTCommand:hover { color: #ff9933; text-decoration: underline;}
TD.TTTRow { background-color: #eef3fb;}
TD.TTTHeader {	background-image: url(TTT_Header_BG.gif); height: 28px;}
TD.TTTAltHeader { height: 28px; background-image: url(TTT_AltHeader_BG.gif);}
TD.TTTSubHeader { background-color: #D4D9EC;}
TD.TTTRowHighlight { background-color: #D4D9EC;}
TD.TTTFooter { height: 28px; background-image: url(TTT_Footer_BG.gif);}
.TTTNormal { font-size: 11px; font-weight: normal;}
.TTTNormalTextBox { font-size: 12px; font-weight: normal;}
.TTTNormalBold { font-size: 11px; font-weight: bold }
.TTTCommandButton { font-size: 11px; font-weight: normal;}
A.TTTCommandButton:link { text-decoration: underline; color: #003366;}
A.TTTCommandButton:visited { text-decoration: underline; color: #003366;}
A.TTTCommandButton:active { text-decoration: underline; color: #003366;}
A.TTTCommandButton:hover { text-decoration: underline; color: #ff0000;}