<configuration>
  <!-- application specific settings -->
  <appSettings>
	  <add key="connectionString" value="SERVER=sqlexpress;Database=dotnetzoom;User ID=sa;Password=password;Trusted_Connection=False;"/>
  </appSettings>
  <system.web>
    <sessionState timeout="20" />
    <!-- set debugmode to false for running application -->
    <compilation debug="true" />
    <!-- permits errors to be displayed for remote clients -->
    <!-- <customErrors defaultRedirect="erreur.htm" mode="RemoteOnly" /> -->
    <customErrors defaultRedirect="erreur.htm" mode="RemoteOnly" />
    <!-- Forms or Windows authentication -->
    <authentication mode="Forms">
      <forms name=".DOTNETZOOM" protection="All" timeout="60" />
    </authentication>
    <!--
		<authentication mode="Windows">
		<identity impersonate="true"/>
		</authentication>
		-->
    <!-- to allow large file uploads  change maxRequestLength -->
    <httpRuntime maxRequestLength="16384" />
    <pages enableViewStateMac="true" validateRequest="false" smartNavigation="false" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="fr-CA" uiCulture="fr-CA" />
  </system.web>
</configuration>
